@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 2;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.671), rgba(128, 128, 128, 0.726)), 
    url('../img/cake4.jpg');
    background-position: center;
    background-size: cover;

}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
   
}

.text-box h1 {
    text-transform: uppercase;
    color: rgb(193, 229, 240);
    text-shadow: 0 0 3px #0c0707, 0 0 5px #ff0095;
}

.heading-main {
    display: block;
    font-size: 5rem;
    letter-spacing: 1.1rem;
    animation-name: moveInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    80% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

.heading-sub {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1.3rem;
    animation-name: moveInRight;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInRight {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    80% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.btn-container {
    text-align: center;
}

.btn {
    border-bottom: 0.2rem solid rgb(163, 130, 130);
    color: #fff;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    margin-top: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;

}

.btn:hover {
    background-color: rgba(225, 0, 149, 0.397);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.btn:active {
    box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(5px);
}

.main {
    background-color: rgb(238, 201, 156);
    height: 190vh;
    margin-top: -5rem;
    text-align: center;
    padding-top: 5rem;
    clip-path: polygon(50% 5%, 100% 0, 100% 43%, 100% 89%, 80% 93%, 46% 100%, 0 100%, 0% 43%, 0 0);
}

.main h1 {
    color: white;
    font-size: 3rem;
    text-shadow: 0 0 3px #0c0707, 0 0 5px #ff0095;
    text-transform: uppercase;
}

.gallery {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.gallery_photo {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.571);
    width: 50%;
    outline-offset: 1rem;
    transition: all 0.3s;
    position: absolute;
    z-index: 10;
}

.gallery_photo:hover {
    outline: 1.8rem solid rgba(188, 143, 143, 0.631);
    transform: scale(1.1);
    z-index: 30;
}

.gallery_photo-1 {
    width: 450px;
    left: 20%;
    top: 5%;
}

.gallery_photo-2 {
    top: 35%;
    width: 450px;
}

.gallery_photo-3 {
    width: 450px;
    left: 35%;
    top: 25%;
}

.footer {
    height: 250px;
    color: rgb(255, 146, 146);
    padding: rgb(255, 196, 196);
    font-size: 2rem;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    margin: 3rem;
}

.footer ul li a {
    color:rgb(245, 143, 143);
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.2);
}

